<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="styles/default/css/index.css" th:href="@{/styles/default/css/index.css}">
    <link href="css/extremecomponents.css" th:href="@{/css/extremecomponents.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" rev="stylesheet"
          href="css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <title>Insert title here</title>

    <TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>
        <TR>
            <TD bgColor=#b1ceef height=1></TD>
        </TR>
        <TR height=20>
            <TD align="center" background=images/shadow_bg.jpg>
                <span class="fontred">添加投诉、留言</span>
            </TD>
        </TR>
    </TABLE>
</head>
<body>

        <form name="form2" id="savefrom"   method="post">
            <input type="hidden" id="userId" name="userId" th:value="${session.loginUser}">

            <table style="font-size: 12px;" width="100%" class="table_b">
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        标题：*
                    </td>
                    <td>
                        <input id="title" style="width:339" type="text" name="title" />
                    </td>
                </tr>


                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        内容：*
                    </td>
                    <td>
                        <textarea rows="3" cols="52" id="mark" name="mark"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        怎样称呼您：*
                    </td>
                    <td>
                        <input id="leaverName" style="width:339" type="text" name="leaverName" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        留言类型：*
                    </td>
                    <td>
                        <select name="type" id="type"  class="textarea">
                            <option th:value="2">留言</option>
                            <option th:value="1">投诉</option>
                        </select>
                    </td>
                </tr>

            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <table align="center">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button id="saveBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i> 保存</button>
                        <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
<script TYPE="text/javascript" src="layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script language="JavaScript" src="../scripts/datepicker/WdatePicker.js" th:src="@{/scripts/datepicker/WdatePicker.js}" type="text/JavaScript"></script>
<script type="text/javascript">
    $("#saveBtn").click(function () {
        var userId = $("#userId").val();
        var title = $("#title").val();
        var mark = $("#mark").val();
        var leaverName = $("#leaverName").val();
        var type = $("#type").val();
        $.ajax({
            type:"post",
            data:{
                "userId":userId,
                "title":title,
                "mark":mark,
                "leaverName":leaverName,
                "type":type
            },
            url:"/leaverword/addLeaverWord",
            beforeSend:function () {
                return true;
            },
            success:function (result) {
                if(result.success){
                    window.location.href="/leaverword/leaverwordListByUserId";
                }else {
                    layer.msg(result.message,{time:1000,icon:5,shift:6});
                }
            },
            error:function () {
                alert("保存失败啦");
            }

        });
    });
    $("#resetBtn").click(function () {
        $("#savefrom")[0].reset();
    })
</script>
</body>
</html>