A
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	COLOR: #003399;
	TEXT-DECORATION: none
}

A:hover
{
	TEXT-DECORATION: underline
}

FONT
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px
}

BODY
{
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #346786;
	SCROLLBAR-SHADOW-COLOR: #346786;
	SCROLLBAR-3DLIGHT-COLOR: #BBD9EA;
	SCROLLBAR-ARROW-COLOR: #346786;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #BBD9EA;
        font-size: 12px
}

TABLE
{
	WIDTH: 100%;
	BACKGROUND-COLOR: #C0C0C0;
}

TBODY
{
	BACKGROUND-COLOR: #808080;
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	COLOR: #FF0000;
	TEXT-ALIGN: left
}

.FTITLE
{
	BACKGROUND-COLOR: #C0C0C0;
	COLOR: #FF0000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center
}
.HEADINGTITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center
}

.TTITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	COLOR: #FF6666;
	LINE-HEIGHT: 25px;
	TEXT-ALIGN: right
}
.TDTITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	COLOR: #FF0000;
	LINE-HEIGHT: 25px;
	TEXT-ALIGN: right
}

.CTITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	COLOR: #000000
}

.BORDERLEFT
{
	BORDER: 1px #2F459F solid
}

.LISTTAB
{
	BACKGROUND-COLOR: #808080;
	
}

.LISTHEAD
{
	BACKGROUND-COLOR: #808080
}

.INPUTFIELD
{
	TEXT-ALIGN: left;
}
.RLTABLE
{
	WIDTH: 100%;

}
.RLFONT
{
	FONT-FAMILY: "Wingdings 3";
	FONT-SIZE: 12px
}

.CASETITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	COLOR: #FF00CC
}
.VIPTITLE
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 14px;
	COLOR: #FF0000; font-weight:bold
}
TTABLE
{
	WIDTH: 100%;
	BACKGROUND-COLOR: #808080;
}
Input {
	BACKGROUND-COLOR: #ffffff;
        border: 1px solid #999999;
}
Select {
	border: 1px solid #6666FF;
}
textarea {
	border: 1px solid #999999;
}

.LITTLEFONT
{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 5px;
}
.BUTTONTABLE
{
	WIDTH: 90%;
	BACKGROUND-COLOR: #000000;
}
.BUTTONTR
{
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #FFFFFF;
	TEXT-ALIGN: center
}
