<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="styles/default/css/index.css" th:href="@{/styles/default/css/index.css}">
    <link href="css/extremecomponents.css" th:href="@{/css/extremecomponents.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" rev="stylesheet"
          href="css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <title>Insert title here</title>

    <TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="tablegray">
        <TR height=28>
            <TD background=images/title_bg1.jpg>
                <img src="styles/default/images/imgIndex/jt3.gif" width="11"
                     height="11">
                当前位置：
                <span class="fontred">添加住户信息</span>
            </TD>
        </TR>
    </TABLE>
</head>
<body>

<div class="two">
    <fieldset>
        <legend>住户信息</legend>
        <form name="form2" id="updatefrom" action="/resident/updateResident"  method="post">

            <table style="font-size: 12px;" width="100%" class="table_b">
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户姓名：*
                    </td>
                    <td>
                        <input id="rusername" type="text" name="username" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户密码：*
                    </td>
                    <td>
                        <input id="rpassword" type="text" name="password" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户身份证 ：*
                    </td>
                    <td>
                        <input id="rpersionNo" type="text" name="persionNo" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户性别：*
                    </td>
                    <td>
                        <select name="sex" id="rsex"  class="textarea">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户电话 ：*
                    </td>
                    <td>
                        <input id="rtelephone" type="text" name="telephone"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户地址：*
                    </td>
                    <td>
                        <input id="raddress" type="text" name="address" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="18%">人员性质：*</td>
                    <td colspan="3" align="left">
                        <select name="type" id="rtype" class="textarea">
                            <option value="1">业主成员</option>
                            <option value="3">工作人员</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <table align="center">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button id="saveBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i> 保存</button>
                        <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
<script TYPE="text/javascript" src="layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript">
    $("#saveBtn").click(function () {
        var rpassword = $("#rpassword").val();
        var rusername = $("#rusername").val();
        var rpersionNo = $("#rpersionNo").val();
        var rtelephone = $("#rtelephone").val();
        var raddress = $("#raddress").val();
        var rsex = $("#rsex").val();
        var rtype = $("#rtype").val();
        $.ajax({
            type:"post",
            data:{
                "username":rusername,
                "password":rpassword,
                "persionNo":rpersionNo,
                "address":raddress,
                "telephone":rtelephone,
                "sex":rsex,
                "type":rtype
            },
            url:"/resident/saveResident",
            beforeSend:function () {
                return true;
            },
            success:function (result) {
                if(result.success){
                    window.location.href="/resident/toResident";
                }else {
                    layer.msg(result.message,{time:1000,icon:5,shift:6});
                }
            },
            error:function () {
                alert("保存失败啦");
            }

        });
    });
    $("#resetBtn").click(function () {
        $("#updatefrom")[0].reset();
    })
</script>
</body>
</html>