<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="styles/default/css/index.css" th:href="@{/styles/default/css/index.css}">
    <link href="css/extremecomponents.css" th:href="@{/css/extremecomponents.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" rev="stylesheet"
          href="css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <title>Insert title here</title>

    <TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="tablegray">
        <TR height=28>
            <TD background=images/title_bg1.jpg>
                <img src="styles/default/images/imgIndex/jt3.gif" width="11"
                     height="11">
                当前位置：
                <span class="fontred">修改保安人员信息</span>
            </TD>
        </TR>
    </TABLE>
</head>
<body>

<div class="two">
    <fieldset>
        <legend>保安人员信息</legend>
        <form name="form2" id="updatefrom" action="/resident/updateResident"  method="post">
            <input id="id" type="hidden" name="id" th:value="${ba.id}" />

            <table style="font-size: 12px;" width="100%" class="table_b">
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        保安人员姓名：*
                    </td>
                    <td>
                        <input id="name" type="text" name="name" th:value="${ba.name}"/>
                    </td>
                </tr>

                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        身份证：*
                    </td>
                    <td>
                        <input id="persionNo" type="text" name="persionNo" th:value="${ba.persionNo}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        性别 ：*
                    </td>
                    <td>
                        <select id="sex" name="sex" th:value="${ba.sex}">
                            <option th:value="男">男</option>
                            <option th:value="女">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        工作开始日期 ：*
                    </td>
                    <td>
                        <input id="begDate" type="text" name="begDate" th:value="${ba.begDate}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        职务 ：*
                    </td>
                    <td>
                        <input id="post" type="text" name="post" th:value="${ba.post}"/>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <table align="center">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button id="updateBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i> 修改</button>
                        <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
<script TYPE="text/javascript" src="layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript">
    $("#updateBtn").click(function () {
        var id = $("#id").val();
        var name = $("#name").val();
        var persionNo = $("#persionNo").val();
        var post = $("#post").val();
        var begDate = $("#begDate").val();
        var sex = $("#sex").val();
        $.ajax({
            type:"post",
            data:{
                "id":id,
                "name":name,
                "persionNo":persionNo,
                "post":post,
                "begDate":begDate,
                "sex":sex
            },
            url:"/ba/updateBa",
            beforeSend:function () {
                return true;
            },
            success:function (result) {
                if(result.success){
                    window.location.href="/ba/toBaList";
                }else {
                    layer.msg(result.message,{time:1000,icon:5,shift:6});
                }
            },
            error:function () {
                alert("修改失败啦");
            }

        });
    });
    $("#resetBtn").click(function () {
        $("#updatefrom")[0].reset();
    })
</script>
</body>
</html>