<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="styles/default/css/index.css" th:href="@{/styles/default/css/index.css}">
    <link href="css/extremecomponents.css" th:href="@{/css/extremecomponents.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" rev="stylesheet"
          href="css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <title>Insert title here</title>

    <TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="tablegray">
        <TR height=28>
            <TD background=images/title_bg1.jpg>
                <img src="styles/default/images/imgIndex/jt3.gif" width="11"
                     height="11">
                当前位置：
                <span class="fontred">修改缴费信息</span>
            </TD>
        </TR>
    </TABLE>
</head>
<body>

<div class="two">
    <fieldset>
        <legend>缴费信息</legend>
        <form name="form2" id="savefrom"   method="post">
            <input id="id" type="hidden" name="id" th:value="${change.id}" />
            <table style="font-size: 12px;" width="100%" class="table_b">
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        单据编号：*
                    </td>
                    <td>
                        <input id="dNo" type="text" name="dNo" th:value="${change.dNo}" />
                    </td>
                </tr>

                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        水费 ：*
                    </td>
                    <td>
                        <input id="waterCase" type="text" name="waterCase" th:value="${change.waterCase}" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        住户姓名：*
                    </td>
                    <td>
                        <input id="zName" type="text" name="zName" th:value="${change.zName}" />
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        电费：*
                    </td>
                    <td>
                        <input type="text" id="eCase" name="eCase" th:value="${change.eCase}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        缴费方式：*
                    </td>
                    <td height="80">
                        <input type="text" name="type" id="type" th:value="${change.type}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table_b_th" width="24%">
                        气费：*
                    </td>
                    <td>
                        <input type="text" id="gascase" name="gascase" th:value="${change.gascase}"/>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="30%" class="table_b_th">
                        缴费总额：
                    </td>
                    <td>
                        <input type="text" name="cases" id="cases" th:value="${change.cases}" />
                    </td>
                    <td align="right" width="30%" class="table_b_th">
                        停车费：
                    </td>
                    <td>
                        <input type="text" name="stopCase" id="stopCase" th:value="${change.stopCase}" />
                    </td>
                </tr>
                <tr>
                    <td align="right" width="30%" class="table_b_th">
                        收费人员：
                    </td>
                    <td>
                        <input type="text" name="changeName" id="changeName" th:value="${change.changeName}" />
                    </td>
                    <td align="right" width="30%" class="table_b_th">
                        维修费用：
                    </td>
                    <td>
                        <input type="text" name="mandCase" id="mandCase" th:value="${change.mandCase}" />
                    </td>
                </tr>
                <tr>
                    <td align="right" width="30%" class="table_b_th" >
                        备注：
                    </td>
                    <td colspan="3">
                        <textarea rows="3" cols="60" name="remark" id="remark" th:value="${change.remark}" ></textarea>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <table align="center">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button id="saveBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i> 修改</button>
                        <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
<script TYPE="text/javascript" src="layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script language="JavaScript" src="../scripts/datepicker/WdatePicker.js" th:src="@{/scripts/datepicker/WdatePicker.js}" type="text/JavaScript"></script>
<script type="text/javascript">
    $("#saveBtn").click(function () {
        var id=$("#id").val();
        var dNo = $("#dNo").val();
        var waterCase = $("#waterCase").val();
        var zName = $("#zName").val();
        var eCase = $("#eCase").val();
        var type = $("#type").val();
        var gascase = $("#gascase").val();
        var cases = $("#cases").val();
        var stopCase = $("#stopCase").val();
        var changeName =$("#changeName").val();
        var mandCase = $("#mandCase").val();
        var remark = $("#remark").val();
        $.ajax({
            type:"post",
            data:{
                "id":id,
                "dNo":dNo,
                "zName":zName,
                "waterCase":waterCase,
                "eCase":eCase,
                "type":type,
                "gascase":gascase,
                "cases":cases,
                "stopCase":stopCase,
                "changeName":changeName,
                "mandCase":mandCase,
                "remark":remark
            },
            url:"/change/updateChange",
            beforeSend:function () {
                return true;
            },
            success:function (result) {
                if(result.success){
                    window.location.href="/change/toChangeList";
                }else {
                    layer.msg(result.message,{time:1000,icon:5,shift:6});
                }
            },
            error:function () {
                alert("保存失败啦");
            }

        });
    });
    $("#resetBtn").click(function () {
        $("#savefrom")[0].reset();
    })
</script>
</body>
</html>