<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>My JSP 'TiKuLuRu.jsp' starting page</title>
    <link href="css/extremecomponents.css" th:href="@{/css/extremecomponents.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" rev="stylesheet"
          href="css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="css/pagination.css" th:href="@{/css/pagination.css}">
</head>

<body background="beijing1/34.jpg">
<center>

    <table width="100%" border="0">
        <tr valign="top">
            <td height="335" colspan="2">
                <div style="float: center">
                    <hr style="clear:both;">
                    <table title="保修信息列表" width="100%" rowsDisplayed="5"
                           imagePath="images/table/*.gif"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th th:text="报修事项名称">报修事项名称</th>
                            <th th:text="报修人">报修人</th>
                            <th th:text="电话">电话</th>
                            <th th:text="报修日期">报修日期</th>
                            <th th:text="住户地址">住户地址</th>
                            <th th:text="是否已修">是否已修</th>
                        </tr>

                        </thead>
                        <tbody id="tbody">
                        </tbody>
                        <tfoot>
                        <tr >
                            <td colspan="6" align="center">

                                <div id="Pagination" name="pagination" class="pagination"><!--这里显示分页--></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</center>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
<script TYPE="text/javascript" src="layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" src="jquery/pagination/jquery.pagination.js" th:src="@{/jquery/pagination/jquery.pagination.js}"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
        queryPageEquip(0);

    });


    var jsonObj = {
        "pageno":1,
        "pagesize":5
    };

    function queryPageEquip(pageIndex) {

        jsonObj.pageno=pageIndex+1;
        $.ajax({
            type:"post",
            data:jsonObj,
            url:"/equip/getEquipByinName",
            beforeSend:function () {
                return true;
            },
            success:function (result) {
                if(result.success){
                    var page = result.page;
                    var data = page.datas;
                    var content = "";
                    //i表示开始开始索引，n表示查询到的数据
                    $.each(data,function (i,n) {
                        content+='<tr>';
                        content+='<td>'+n.name+'</td>';
                        content+='<td>'+n.inName+'</td>';
                        content+='<td>'+n.tel+'</td>';
                        content+='<td>'+n.beDate+'</td>';
                        content+='<td>'+n.address+'</td>';
                        content+='<td>'+n.revalue+'</td>';
                        content+='</tr>';
                    });
                    //获取tbody标签，并把content设置到里边去
                    $("#tbody").html(content);


                    $("#Pagination").pagination(page.totalsize,{
                        num_end_entries:1,
                        num_display_entries:2,
                        callback:queryPageEquip,
                        items_per_page:5,
                        current_page:(page.pageno-1),
                        prev_text:"上一页",
                        next_text:"下一页"
                    });


                }else{
                    layer.msg(result.message,{time:1000,icon:5,shift:6});
                }
            },
            error:function () {
                layer.msg("加载数据失败",{time:1000,icon:5,shift:6});
            }
        });
    }



</script>
</body>
</html>
